<form action="/">
  <label for="book_search">Search for a book by it's title:</label><br/>
  <input type="text" id="book_search" name="title" required/>
  <input type="submit">
</form>
<div class="book">
<% if !@thumbnail_url.nil? %>
<%= "<img src=\"#{ @thumbnail_url }\" />"%>
<%= "<ul>"%>
<%= "<li>Title: #{ @title }</li>" %>
<%= "<li>Author(s): #{ @author }</li>" %>
<%= "</ul>"%>
<%= "<p>#{ @description }</p>" %>
<% elsif  @total_items == 0 %>
<%= "<p>We couldn't find a book matching your search</p>" %>
<% end %>

</div>