
<form class="entry_form" action="/edit/<%= @car['id']%>" method="post">
  <label >Make : </label>
  <input type="text" name="make" placeholder="e.g. VW" value="<%= @car['make']%>">
  <label >Model : </label>
  <input type="text" name="model" placeholder="e.g. Golf" value="<%= @car['model']%>">
  <label >hp : </label>
  <input type="text" name="hp" placeholder="e.g. 200" value="<%= @car['hp']%>">
  <label >Image url : </label>
  <input type="url" name="image" placeholder="e.g. VW" value="<%= @car['image']%>">

  <button type="submit">Submit</button>

</form>
