<div class="subtitle">
   <h1><%= @drink.name %></h1>
</div>
<div class="content">
  <h3>Recipe:</h3></div>
<div class="content">
  <p><%= @drink.recipe %></p>
</div>

<% unless @drink.writers.empty? %>
  <h3>Writers who drank/drink it:</h3>
  <ul>
    <% @drink.writers.each do |writer| %>
      <li>
        <a href="/writers/<%= writer.id %>">
          <%= writer.name %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @drink.image.nil? %>
  <img class="feature" src="<%= @drink.image %>"/>
<% end %>

<div class="controls">
  <button class="btn">
    <a href="/drinks/<%= @drink.id %>/edit">Edit</a>
  </button>
  <button class="btn">
    <a href="/drinks/<%= @drink.id %>/delete">Delete</a>
  </button>
</div>
