<div class="subtitle">
   <h1><%= @writer['name'] %></h1>
</div>
<h2>Life:<%= @writer['life'] %></h2>

<% unless @writer.drink.nil? %>
  <h2>
    favourite Drink:
    <a href="/drinks/<%= @writer.drink.id %>">
      <%= @writer.drink.name %>
    </a>
  </h2>
<% end %>

<% unless @writer['image'].nil? %>
  <img class="feature" src="<%= @writer['image'] %>"/>
<% end %>

<div class="controls">
  <button class="btn">
    <a href="/writers/<%= @writer['id'] %>/edit">Edit</a>
  </button>
  <button class="btn">
    <a href="/writers/<%= @writer['id'] %>/delete">Delete</a>
  </button>
</div>
