<h1>Edit Writer</h1>

<form action="/writers/<%= @writer['id'] %>" method="post">
  <label>Name:</label>
  <input type="text" name="name" value="<%= @writer['name'] %>" placeholder="Writer's name" required autofocus>
  <label>Life:</label>
  <input type="text" name="life" value="<%= @writer['life'] %>" placeholder="Life span" required>
  <label>Image:</label>
  <input type="url" name="image" value="<%= @writer['image'] %>" placeholder="http://...">

  <label>Favourite Drink:</label>
  <select name="drink_id">
    <!-- Let the user choose an associated drink from all the drinks in db -->
    <option></option>
    <% Drink.all.each do |drink| %>
      <option value="<%= drink.id %>" <%= "selected" if drink.id == @writer.drink_id %>><%= drink.name %></option>
    <% end %>
  </select>

  <button class="btn">Update</button>
</form>
