<h1><%= @videogame['name'] %></h1>
<h2 class="purpleblock">Times Completed: <%= @videogame['completed'] %></h2>


<% unless @videogame['image'].nil? %>
  <img class="feature" src="<%= @videogame['image'] %>" />
<% end %>

<div class="controls">
  <a href="/videogames/<%= @videogame['id'] %>/edit">Edit</a>
  <a href="/videogames/<%= @videogame['id'] %>/delete">Delete</a>
</div>
