<h1> <%=@cacti1['name']%></h1>
<h4> <%=@cacti1['id']%></h4>
<h4> Family: <%=@cacti1['family']%></h4>

<img src="<%=@cacti1['image']%>" alt="">


<a href="/cacti/<%=@cacti1['id']%>/edit">EDIT</a>
<a href="/cacti/<%=@cacti1['id']%>/delete">Delete</a>
