<h1><%= @director.name %></h1>

<%= image_tag @director.image, :alt => @director.name, :class =>'feature' if @director.image.present? %>

<ul>
  <li>Nationality :<%= @director.nationality %></li>
  <% if @director.dob.present? %>
    <li>Date Of Birth : <%= @director.dob.strftime '%A, %B %e, %y'%></li>
  <% end %>
</ul>


<div class = "controls">
  <%= link_to "Edit Directors", edit_director_path(@director)%>
  <%= link_to "Delete Directors", director_path(@director), :method => 'delete', :data => {:confirm => 'Are you sure?'}%>

</div>
