<h1>All singers</h1>

<% @singers.each do |singer| %>
  <%= image_tag singer.image, :alt => singer.name, :class => 'thumb' %>
  <ul>
    <li><%= link_to singer.name, singer %></li>
    <li><%= singer.background %></li>
    <li><%= singer.genres %></li>
    <li><%= singer.generation %></li>
  </ul>

<% end %>
