<h1><%= @player.name %></h1>

<ul>
  <li>Country: <%= @player.nationality %></li>
  <li>Position: <%= @player.position %></li>
  <% if @player.dob.present? %>
    <li>DOB: <%= @player.dob.strftime '%B %e, %Y' %></li>
  <% end %>
  <% if @player.club.present?  %>
    <li>Club: <%= link_to @player.club.name, @player.club %></li>
  <% end %>
</ul>

<div class="controls">
  <%= link_to "Edit player", edit_player_path(@player) %>
  <%= link_to "Delete player", player_path(@player), :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
