<h1><%= @director.name %></h1>

<% unless @director.movies.empty? %>
  <h2>Associate Movies:</h2>
    <ul>
      <% @director.movies.each do |movie| %>
        <li>
          <a href="/movies/<%= movie.id %>">
            <%= movie.name %>
          </a>
        </li>
      <% end %>
    </ul>
<% end %>

<% unless @director.image.nil? %>
<img class="feature" src="<%= @director.image %>" />
<% end %>

<div class="controls">
  <a href="/directors/<%= @director.id%>/edit">Edit</a>
  <a href="/directors/<%= @director.id%>/delete">Delete</a>

</div>
