<h1><%= @movie['name'] %></h1>
<h2>Movie Genres: <%= @movie['genre'] %></h2>

# <% unless @movie.director.nil? %>
#   <h2>
#     Directors:
#     <a href="/directors/<%= @movie.director.id %>">
#       <%= @movie.director.name %>
#     </a>
#   </h2>
# <% end %>

<% unless @movie['image'].nil? %>
  <img class="feature" src="<%= @movie['image'] %>" />
<% end %>

<div class="controls">
  <a href="/movies/<%= @movie['id'] %>/edit">Edit</a>
  <a href="/movies/<%= @movie['id'] %>/delete">Delete</a>
</div>
