<h1><%= @book.title %></h1>


<ul>
  <li><%= @book.title %></li>
  <% if @book.author.present? %>
    <li>Author: <%= link_to @book.author.name, @book.author %></li>
  <% end %>
  <li>Published: <%= @book.year %></li>
  <li>Genre: <%= @book.genre %></li>
</ul>

<div class="controls">
  <%= link_to 'Edit book', edit_book_path(@book) %>
  <%= link_to 'Delete book', book_path(@book), :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
