<h1><%= @album.title %></h1>
<%=  image_tag @album.image, :alt => @album.title, :class => 'feature' %>

<ul>
  <li><%= album.title %></li>
  <% if  @album.singer.present? %>
  <li>Singer:<%= @work.singer.name, @album.singer%></li>
  <% end %>
  <li>Year:<%= @album.year %></li>
  <li>Released:<%= @album.released %></li>
</ul>

<div class="controls">
  <%= link_to 'Edit album', edit_album_path(@album) %>
  <%= link_to 'Delete album', albums_path(@album), :method => 'delete', :data => {:confirm => 'Are you sure ?'}%>
</div>
