<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top">
      </div>
    <div class="container">

        <nav>
          <a href="/">Home |</a>
          <a href="/ball">Magic 8 ball |</a>
          <a href="/number">Guess the Number |</a>
          <a href="/rock_paper_scissors">Rock Paper Scissors</a>
        </nav>


      <%= yield %>
    </div>

  </body>
</html>
