<!DOCTYPE html>
<html>
  <head>
    <title>HikingTrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Monoton|Paytone+One|Varela+Round|Abril+Fatface|Chela+One|Lobster');
    </style>

  </head>

  <body>
    <div class="container">


    <nav>
      <%= link_to "All Trials", mountains_path %>
      <%= link_to "New Trials", mountains_new_path %>
    </nav>

    <%= yield %>

    </div>
  </body>
</html>
