<div class="row">
  <div class="col">


  <h1><%= @album["name"]%></h1>

  <% unless @album.cover_url.nil? %>
  <h2>
    Album Cover:
  </h2>
  <img class="img-fluid"src="<%= @album.cover_url %>" alt="">
  <% end %>
<p>Release year: <%=@album["release_year"] %></p>

  <div class="controls">
    <a class="btn btn-primary" href="/albums/<%= @album["id"]%>/edit">Edit</a>
    <a class="btn btn-primary" href="/albums/<%= @album["id"]%>/delete">Delete</a>
  </div>
</div>
    </div>
