<h1><%= @student['name'] %></h1>
<h2>Family: <%= @student['family'] %></h2>

<% unless @student.uni.nil? %>
  <h2>
    University:
    <a href="/unis/<%= @student.uni.id %>">
      <%= @student.uni.name %>
    </a>
  </h2>
<% end %>

<% unless @student['image'].nil? %>
  <img class="feature" src="<%= @student['image'] %>" />
<% end %>

<div class="controls">
  <a href="/students/<%= @student['id'] %>/edit">Edit</a>
  <a class="delete" href="/students/<%= @student['id'] %>/delete">Delete</a>
</div>
</div>
