<h1>Meet some of our Fur Friends</h1>
<div class="flex">
  <% @animals.each do |a| %>
    <a href="/animals/<%= a.id %>"> 
      <div class="card">
        <%= image_tag a.image, :alt => a.name %>
        <div class="details">
          <span class="icon <%= a.type_name.downcase %>"></span>
          <h3><%= a.name %></h3>
          <p><%= a.breed %></p>
        </div>
      </div>
    </a>
  <% end %>
</div>
