<div class="show">
  <div class="details">
    <h2><%= @shelter.name %></h1>
    <p class="info"><b>Type: </b><%= @shelter.type_name %></p>
    <p class="info"><b>Postcode:</b><%= @shelter.postcode %></p>

    <div class="controls">
      <%= link_to 'Edit', edit_shelter_path(@shelter) %>
      <%= link_to 'Delete', shelter_path(@shelter), :method => 'delete', :data => {:confirm => 'Are you sure you want to remove this shelter?'} %>
    </div>

  </div>

  <div class="flexcolumn justify-center">
    <% @shelter.animals.each do |a| %>
    <a href="/animals/<%= a.id %>"> 
      <div class="card">
        <%= image_tag a.image, :alt => a.name %>
        <div class="details">
          <span class="icon <%= a.type_name.downcase %>"></span>
          <h3><%= a.name %></h3>
          <p><%= a.breed %></p>
        </div>
      </div>
    </a>
    
    <% end %>
  </div>
  <%= image_tag @shelter.image, :class => 'portrait' %>
</div>

