<h1><%= @cacti['name'] %></h1>
<h2>Family: <%= @cacti['family'] %></h2>

<% unless @cacti['image'].nil? %>
  <img class="feature" src="<%= @cacti['image'] %>" />
<% end %>

<div class="controls">
  <button class="btn" type="button" name="button"><a href="/almanac/<%= @cacti['id'] %>/edit">Edit</a></button>
  <button class="btn" type="button" name="button"><a href="/almanac/<%= @cacti['id'] %>/delete">Delete</a></button>
</div>
