<div class="container">
<div class="main">


<div class="title">

<h1><%= @title %></h1>
<a href="<%=@buy%>" class='button'>Buy $<%=@price%></a>
</div>
<a href="https://en.wikipedia.org/wiki/<%=@author%>" class='author'><%= @author %></a>
<img src="<%= @link %>" alt="">


<div class="content">


<h3>Description</h3>
<p><%=@description %></p>



</div>

</div>
<div class="side">
  <h3>Date Published</h3>
  <p><%= @date %></p>

  <h3>Average Rating</h3>
  <p><%= @rating %></p>

  <h3>Page Count</h3>
  <p><%= @page_count %></p>

  <h3>Maturity Rating</h3>
  <p><%=@maturity %></p>
  <h3>Category</h3>
  <p><%=@category %></p>



</div>
</div>
