<!DOCTYPE html>
<html>
  <head>
    <title>Games and Developers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to 'All Developers', developers_path %>
        <%= link_to 'New Developer', new_developer_path %> |
        <%= link_to 'All Games', games_path %>
        <%= link_to 'New Game', new_game_path %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
