<p> <%= @book_title %> </p>
<p> <%= @author %> </p>
<p> <%= @published_date %> </p>
<p> <%= @description %> </p>
<p> <%= @rating %> </p>
<p> <%= @smallThumbnail %> </p>
<p> <%= @thumbnail %> </p>
<img src=<%= @thumbnail %> >
