<div class="topofedit">
  <h1>Edit that New Album</h1>

  <form class="add_form" action="/albums/<%=@album.id%>" method="post">
    <!-- title  -->
    <label>Title:</label>
    <input type="text" name="title" value="<%=@album.title%>" placeholder="Album Title" required autofocus>

    <!-- year -->
    <label>Year Released:</label>
    <input type="integer" name="year" value="<%=@album.year%>" placeholder="Enter year" required>

    <!-- image -->
    <label>Image:</label>
    <input type="url" name="image" value="<%=@album.image%>" placeholder="http://...">

  <!-- associating artist with album on page.... -->
    <label>Artist:</label>
      <select name="artist_id">
    <!-- can select artist in drop down -->
        <option></option>
        <% Artist.all.each do |artist| %>
          <option value="<%= artist.id %>"<%="selected" if artist.id == @album.artist_id%>><%= artist.name %></option>
        <% end %>
      </select>

    <button>Update Album!</button>
  </form>

</div>
