<div class="topofshow">
  <h1>Records are always a Sound Purchase</h1>

  <h1><%= @album['name'] %></h1>
  <% unless @album.artist.nil? %>
    <h2>
      Artist:
      <a class="artist_link" href="/artists/<%= @album.artist.id %>">
        <%= @album.artist.name %>
      </a>
    </h2>
  <% end %>
  <h3>Year: <%= @album['year'] %></h3>

  <% unless @album['image'].nil? %>
    <img class="feature" src="<%= @album['image'] %>" />
  <% end %>
  <div class="controls">
    <a class="edit_delete" href="/albums/<%= @album['id'] %>/edit">Edit</a>
    |
    <a class="edit_delete" href="/albums/<%= @album['id'] %>/delete">Delete</a>
  </div>
</div>
