<h1><%= @author.name %></h1>

<%= image_tag @author.image, :alt => 'author.name', :class => 'feature'%>
<ul>
  <li>Nationality: <%= @author.nationality %></li>
  <% if @author.dob.present? %>
  <li>Date of Birth: <%= @author.dob.strftime '%B %e, %Y' %></li>
  <% end %>
</ul>
<% @author.books.each do |author| %>
<%= link_to image_tag(author.image, :class => "thumb"),author %>
<% end %>

<div class="controls">
<%= link_to 'Edit Author', edit_author_path(@author) %>
<%= button_to 'Delete Author', author_path(@author), :method => 'delete', :data => {:confirm => 'Are you sure?'}%>
</div>
