<h2> DAY <%= @camino['day'] %></h2>
<h1> City of <%= @camino['city'] %></h1>

<% unless @camino['image'].nil? %>
  <img class="feature" src=" <%= @camino['image'] %>" />
<% end %>

<div class="controls">
  <a href="/caminos/<%= @camino['id']%>/edit">EDIT</a>
  <a href="/caminos/<%= @camino['id']%>/delete">DELETE</a>

</div>
