<h1><%= @movie.title %></h1>

<%= image_tag @movie.image, :alt => @movie.title, :class => 'feature' if @movie.image.present? %>

<ul>
  <li><%= @movie.title %></li>
  <% if @movie.director.persent? %>
  <li>Director :<%= link_to @movie.director.name, @movie.director  %></li>
  <% end %>

  <li>Genre :<%= @movie.genre  %></li>
  <li>Rating :<%= @movie.rating  %></li>
</ul>

<div class="controls">
  <%= link_to "Edit Movie", edit_movie_path(@movie) %>
  <%= link_to "Delete", movie_path(@movie) :method => 'delete', :data=> {:confirm => 'Are you sure?'} %>
</div>
