<h1><%= @parrot['name'] %></h1>
<h2>Scientific Name: <%= @parrot['scientific name'] %></h2>

<% unless @parrot['image'].nil? %>
  <img class="feature" src="<%= @parrot['image'] %>" />
<% end %>

<div class="controls">
  <a href="/parrots/<%= @parrot['id'] %>/edit">Edit</a>
  <a href="/parrots/<%= @parrot['id'] %>/delete">Delete</a>
</div>
