<h1><%= @author.title %></h1>

<% unless @author.books.empty? %>
  <h2>Best book:</h2>
  <ul>
    <% @author.books.each do |book| %>
      <li>
        <a href="/books/<%= book.id %>">
          <%= book.title %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @author.image.nil? %>
  <img class="feature" src="<%= @author.image %>" />
<% end %>

<div class="controls">
  <a href="/authors/<%= @author.id %>/edit">Edit</a>
  <a href="/authors/<%= @author.id %>/delete">Delete</a>
</div>
