<h1>Edit book</h1>

<form action="books/<%= @books['id'] %>" method="post"?
  <label>Title:</label>
  <input type="text" title="title" value="<%= @books['title'] %> " placehoder="Book title" required autofocus>
  <label>Image:</label>
  <input type="url" name="image" value="<%= @books ['image'] %>" placeholder="http://...">

  <label>Best books</label>
  <select name="author_id">

    <option></option>
    <% Author.all.each do |author| %>
    <option value="<%= author.id %>"><%= author.title %></option>
    <% end %>
  </select>

  <button>Update</button>
</form>
