<h1>Guess the Secret Number</h1>
<% unless @win.nil? %>
  <% if @win %>
    <h2>Congrats, you guessed it: <%= params[:g] %>
  <% else %>
    <h2>Sorry, you guessed <%= params[:g] %> but that's not the number!</h2>
  <% end %>
<% end %>
<%= form_tag("/secret_n", method: "get") do %>
  <% (1..10).to_a.each do |n| %>
  <button class="guess" name="g" value="<%= n %>"><%= n %></button>
  <% end %>
<% end %>