<h1>Edit country</h1>

<form action="/countries/<%= @country['id'] %>" method="post">
  <label>Name:</label>
  <input type="text" name="name" value="<%= @country['name'] %>" placeholder="country name" required autofocus>

  <label>Image:</label>
  <input type="url" name="image" value="<%= @country['image'] %>" placeholder="http://...">

  <label>Drinks:</label>
  <select name="drink_id">
    <!-- Let the user choose an associated plant from all the plants in db -->
    <option></option>
    <% Drink.all.each do |drink| %>
      <option value="<%= drink.id %>" <%= "selected" if drink.id == @country.drink_id %>><%= drink.name %></option>
    <% end %>
  </select>

  <button>Update</button>
</form>
