<h1><%= @drink.name %></h1>

<% unless @drink.countries.empty? %>
  <h2>Associated countries:</h2>
  <ul>
    <% @drink.countries.each do |country| %>
      <li>
        <a href="/countries/<%= country.id %>">
          <%= country.name %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @drink.image.nil? %>
  <img class="feature" src="<%= @drink.image %>" />
<% end %>

<div class="controls">
  <a href="/drinks/<%= @drink.id %>/edit">Edit</a>
  <a href="/drinks/<%= @drink.id %>/delete">Delete</a>
</div>
