<h1><%= @book.name %></h1>

<%= image_tag @book.image, :class => 'feature' %>
<ul>
  <% if @book.author.present? %>
  <li>Author <%= link_to @book.author.name, @book.author %></li>
  <% end %>
  <li>Year: <%= @book.year %></li>
</ul>

<div class="controls">
<%= link_to 'Edit Book', edit_book_path(@book) %>
<%= button_to 'Delete Book', book_path(@book), :method => 'delete', :data => {:confirm => 'Are you sure?'}%>
</div>
