<h1>Mountains of the World</h1>
<div class="summary">
  <table>
    <thead>
      <tr>
        <td>Mountains in Database</td>
        <td>Tallest Mountain</td>
        <td>Shortest Mountain</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @mountains.count %> </td>
        <td><%= @mountains.first.name %> (<%= number_to_human @mountains.first.height, units: {unit: "m"} %>)</td>
        <td><%= @mountains.last.name %> (<%= number_to_human @mountains.last.height, units: {unit: "m"} %>)</td>
      </tr>
    </tbody>
  </table>
  <span>
    Scroll down to see all mountians relative to their height!
  </span><br/>
  <span>
    Use the V and ^ to fast-navigate to the next/previous mountain.
  </span>
</div>
<ul class="index" style="--tallest: <%= @tallest_height %>; --shortest: <%= @shortest_height %>">
<% @mountains.each_with_index do |m,i| %>
  <li id="<%= i %>" style="--summit: <%= @tallest_height - m.height %>">
  <div><%= link_to m.name, mountain_path(m.id) %>
    <span class="newline"><%= number_to_human m.height, units: {unit: "m"} %></span>
    </div>
    <div>
    <nav>
      <% unless i-1 < 0 %>
        <a rel="tag" href="/mountains/#<%= i - 1 %>">^</a><br />
      <% end %>
      <% unless i+1 >= @mountains.count %>
        <a rel="tag" href="/mountains/#<%= i + 1 %>">V</a>
      <% end %>
    </nav>
    </div>
  </li>
<% end %>
</ul>