<!DOCTYPE html>
<html>
  <head>
    <title>FureverHome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <%= link_to 'All Animals', animals_path %>
          <%= link_to 'Add Animal', new_animal_path %>
          <%= image_tag 'logo.svg', :alt => "Icon Made by www.freepik.com, used under Creative Commons BY 3.0 License", :class => "logo" %>
          <%= link_to 'All Shelters', shelters_path %>
          <%= link_to 'Add Shelter', new_shelter_path %>
        </nav>
        <h1 class="headline">
          Give a Fur Friend a Furever home
        </h1>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer></footer>
    </div>
  </body>
</html>
