<h1><%= @cheese['type'] %></h1>
<% unless @cheese.wines.empty? %>

<h2>Cheeses:</h2>
<ul>
  <% @cheese.wines.each do |wine| %>
  <li>
    <a href="/wines/<%= wine.id %>"><% wine.name %></a>
  </li>
  <% end %>
</ul>
<% end %>

<% unless @cheese['image'].nil? %>

<img class="feature" src="<%= @cheese['image'] %>"/>
<% end %>

<div class="controls">
  <a href="/cheeses/<%= @cheese['id'] %>/edit">Edit</a>
  <a href="/cheeses/<%= @cheese['id'] %>/delete">Delete</a>
</div>
