<h1>Edit your wine choice!</h1>
<form action="/wines/<%= @wine['id'] %>" method="post">

<Label>Type:</label>
<input type="text" name="type" value="<% @wine_type['wine'] %>" placeholder="Wine Type" required autofocus>

<lable>Name:</label>
<input type="text" name="name" value="<%= @wine['name'] %>" placeholder="type name" required>

<label>Region:</label>
<input type="text" name="region" value="<%= @wine['region'] %>" placeholder="region name" required>

<label>Image:</label>
<input type="url" name="image" value="<% @wines['image'] %>" placeholder="http://...">

<label>Cheeses:</label>
<select name='cheese_id'>
<option></option>
<% Cheese.all.each do |cheese| %>
<option value ="<%= cheese.id %>" <%= "selected" if cheese.id == @wine.cheese_id %>><%= cheese.name %></option>
<% end %>
</select>
<button>Lets Go!</button>

</form>
