<h1> <%= @wine['wine_type'] %></h1>

<h2> Name: <%= @wine['name']%></h2>

<h3> Region: <%= @wine['region']%></h3>

<% unless @wine.cheese.nil? %>

<h4>Cheese:
<a href="/cheeses/<%= @wine.cheese.id %>"><%= @wine.cheese.name %>
</h4>
<% end %>

<% unless @wine['image'].nil? %>

<img class="feature" src="<%= @wine['image'] %>"/>
<% end %>

<div class="controls">
  <a href="/wines/<%= @wine['id'] %>/edit">Edit</a>
  <a href="/wines/<%= @wine['id'] %>/delete">Delete</a>

</div>
