<h1><%= @developer.name %></h1>

<%= image_tag @developer.image, :alt => @developer.name, :class => 'feature' if @developer.image.present? %>

<ul>
  <% if @developer.headquarters.present? %>
  <li>Headquarters: <%= @developer.headquarters %></li>
  <% end %>
</ul>

<% @developer.games.each do |game| %>
  <%= link_to image_tag(game.image, :class => 'thumb'), game %>
<% end %>

<div class="controls">
  <%= link_to "Edit Developer", edit_developer_path(@developer) %>
  <%= link_to "Delete developer", developer_path(@developer), :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
