<h1>edit</h1>

<form class="" action="/earphones/<%=@earphones['id']%>" method="post">

<label >Name</label>
<input type="text" name="name" value="<%=@earphones['name']%>">

<label >Image</label>
<input type="text" name="image" value="<%=@earphones['image']%>">

<label >Price</label>
<input type="integer" name="price" value="<%=@earphones['price']%>">

<label>Noise Cancelling</label>
<input type="boolean" name="noise_cancelling" value="<%=@earphones['noise_cancelling']%>">

<label>Notes</label>
<input type="text" name="notes" value="<%=@earphones['notes']%>">



<label>Brand</label>
  <select name="brands_id">
    <!-- Let the user choose an associated plant from all the plants in db -->
    <option></option>
    <% Brands.all.each do |brands| %>
      <option value="<%= brands.id %>" <%= "selected" if brands.id == @earphones.brands_id %>><%= brands.name %></option>
    <% end %>
  </select>




<button>Submit</button>

</form>
