<h1><%= @students['name'] %></h1>
<h2>familyName: <%= @students['familyName'] %></h2>

<% unless @students['image'].nil? %>
  <img class="feature" src="<%= @students['image'] %>" />
<% end %>

<div class="controls">
  <a href="/students/<%= @students['id'] %>/edit">Edit</a>
  <a href="/students/<%= @students['id'] %>/delete">Delete</a>
</div>
