<h1><%= @author.name %></h1>

<ul>
  <li>Born : <%= @author.born %></li>
  <li>Quote :  <%= @author.quote %></li>
  <li><%= @author.funfact %></li>

</ul>
<p>Books : </p>
<ul>
<% @author.books.each do |book| %>
  <li><%= link_to book.title, book %></li>
<% end %>
</ul>
<hr>
<div class="controls">
  <%= link_to "Edit author", edit_author_path(@author) %>
  <%= link_to "Delete author", author_path(@author), :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
