<div class="movieList">



<% @movies.each do |movie| %>
<div class="movieItem">

<div class="movieImage">
  <img src="<%= movie["thumbnail"]%>" alt="">
</div>

<div class="movieInfo">
  <p><em> <%= movie["name"]%> </em> </p>
  <p> <%= movie["year"]%>  </p>
  <p>Director: <%= movie["director"]%></p>
  <p>Cast: <%= movie["cast"]%></p>

<div class="controls">


  <form class="button" action="/movie/edit/<%= movie["id"]%>" method="post">
    <button type="submit" >Edit</button>
  </form>
  <form class="button" action="/movie/delete/<%= movie["id"]%>" method="post">
    <button type="submit" >Delete</button>
  </form>

  <form class="button" action="/movie/addtolist/<%= movie["id"]%>" method="post">
    <button type="submit" >Add to</button>
  </form>
</div>
</div>
</div>
<% end%>

</div>
