<div class="title"><h1><%= @rock.name %></h1></div>

<div class="feature"> <%= image_tag @rock.image unless @rock.image.nil? %></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Colour</th>
      <th>Density</th>
      <th>Composition</th>
      <th>Locality</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @rock.name %></td>
      <td><%= @rock.colour %></td>
      <td><%= @rock.density %></td>
      <td><%= @rock.composition %></td>
      <td><%= @rock.locality %></td>
    </tr>
  </tbody>
</table>

<div class="controls">
  <button class="btn"><%= link_to 'Edit rock', rock_edit_path(@rock.id) %></button>
  <%= button_to 'Delete rock', rock_path(@rock.id), :class => 'btn', :method => 'delete' %>
</div>
