<h1><%= @club.name %></h1>

<ul>
  <li>Region: <%= @club.region %></li>
  <% if @club.img.present?  %>
    <li><%= image_tag @club.img %></li>
  <% end %>
</ul>

<div class="controls">
  <%= link_to "Edit Club", edit_club_path(@club) %>
  <%= link_to "Delete Club", club_path(@club), :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
