<h1><%= @err_meaning.meaning %></h1>
<p><%= @err_meaning.meaning %></p>
<p><%= @err_meaning.example %></p>
<div class="options">
  <a href="<%= @err_meaning.id %>/edit">Edit</a>
  <a href="<%= @err_meaning.id %>/delete">Delete</a>
</div>