<h1>Update Error</h1>
<form action="/errors/<%= @error.id %>" method="post">
  <label>Error Name:</label>
  <input type="text" name="name" value="<%= @error.name %>"/><br />

  <label>Error Message:</label>
  <input type="text" name="error_msg" value="<%= @error.error_msg %>"/>
  <br />
  <select name="err_meaning_id">
    <option></option>
    <% ErrMeaning.all.each do |err_meaning| %>
      <option value="<%= err_meaning.id %>" <%= "selected" if err_meaning.id == @error.err_meaning_id %>><%= err_meaning.meaning %></option>
    <% end %>
  </select>

  <button>Submit</button>
</form>