<h1>Edit Mountain</h1>

<form action="<%= mountain_path(@mountain.id) %>" method="post">
    <label>Name:</label>
    <input type="text" name="name" value="<%= @mountain.name %>" required>
    <label>Type:</label>
    <input type="text" name="type" value="<%= @mountain.type %>">
    <label>Image:</label>
    <input type="url" name="image" value="<%= @mountain.image %>">
    <label>Elevation:</label>
    <input type="number" name="elevation" value="<%= @mountain.elevation %>">
    <button>Update Mountain</button>
</form>
