<h1><%= @mountain.name %></h1>

<%=  image_tag @mountain.image ,:class => @mountain.image.nil? %>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Type</td>
      <td>Image</td>
      <td>Elevation</td>
    </tr>  
  </thead>

  <tbody>
    <tr>
      <td><%= @mountain.name  %></td>
      <td><%= @mountain.type %></td>
      <td><%= @mountain.image %></td>
      <td><%= @mountain.elevation %></td>
    </tr>
  </tbody>
</table>

<div class="controls">
  <%= link_to 'Edit mountain', mountain_edit_path(@planet.id) %>
  <%= button_to 'Delete mountain', mountain_path(@mountain.id), :method => 'delete' %>
</div>
