<h1><%= @club.name %></h1>
<h3><%= @club.country %></h3>
<% unless @club.players.empty? %>
  <h2>Associated Players:</h2>
  <ul>
    <% @club.players.each do |player| %>
      <li>
        <a href="/players/<%= player.id %>">
          <%= player.name %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @club.img.nil? %>
  <img class="feature" src="<%= @club.img %>" />
<% end %>

<div class="controls">
  <a href="/clubs/<%= @club.id %>/edit">Edit</a>
  <a href="/clubs/<%= @club.id %>/delete">Delete</a>
</div>
