<h1><%= @player.name %></h1>
<h3>Country: <%= @player.country %></h3>
<h3>Position: <%= @player.position %></h3>
<h3>Age: <%= @player.age %></h3>

<% unless @player.club.nil? %>
  <h3>
    Club:
    <a href="/clubs/<%= @player.club.id %>">
      <%= @player.club.name %>
    </a>
  </h3>
<% end %>

<div class="controls">
  <a href="/players/<%= @player.id %>/edit">Edit</a>
  <a href="/players/<%= @player.id %>/delete">Delete</a>
</div>
