<h1>Edit Player</h1>

<form action="/players/<%= @player.id %>" method="post">
  <label>Name:</label>
  <input type="text" name="name" value="<%= @player.name %>" required autofocus>
  <label>Country:</label>
  <input type="text" name="country" value="<%= @player.country %>" required>
  <label>Position:</label>
  <input type="text" name="position" value="<%= @player.position %>" required>
  <label>Age:</label>
  <input type="number" name="age" value="<%= @player.age %>"required>

  <label>Club:</label>
  <select name="club_id">
    <option></option>
    <% Club.all.each do |club| %>
      <option value="<%= club.id %>" <%= "selected" if club.id == @player.club_id %>><%= club.name %></option>
    <% end %>
  </select>

  <button>Update</button>
</form>
