<!DOCTYPE html>
<html>
  <head>
    <title>NasaApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <h1>Image Search</h1>
    <h1>NASA API</h1>
    <p>Find your star</p>
    <form id="search">
      <input type="search" id="query" required autofocus placeholder="Search">
      <button><i class="fas fa-search"></i></button>
    </form>

    <div id="images"></div>
  </div>
    <%= yield %>
  </body>
</html>
