<h1><%= @mountain.name %></h1>


<table align="center">
  <thead>
    <tr align="center">
      <td>Name</td>
      <td>Height</td>
      <td>Distance</td>
      <td>Country</td>
    </tr>


  <tbody >
    <tr align="center">
      <td><%= @mountain.name %></td>
      <td><%= @mountain.height %></td>
      <td><%= @mountain.distance %></td>
      <td><%= @mountain.country %></td>

    </tr>
  </tbody>
</thead>

</table>

<%= image_tag @mountain.image, :class=>'feature' unless @mountain.image.nil? %>


</div>

<div class="controls">
  <%= button_to 'Edit Trial', mountain_edit_path(@mountain.id), :method => 'get'%>

  <%= button_to 'Delete Trial', mountain_path(@mountain.id), :method => 'delete' %>
</div>
