<h1><%= @mountain.name %></h1>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Height</td>
      <td>Distance</td>
      <td>Country</td>
    </tr>
  </thead>
</table>

<tbody>
  <tr>
    <td><%= @mountain.name %></td>
    <td><%= @mountain.height %></td>
    <td><%= @mountain.distance %></td>
    <td><%= @mountain.country %></td>

  </tr>
</tbody>

<%= image_tag @mountain.image, :class=>'feature' unless @mountain.image.nil? %>

<div class="controls">
  <%= button_to 'Edit Trial', mountain_edit_path(@mountain.id) %>

  <%= button_to 'Delete Trial', mountain_path(@mountain.id), :method => 'delete' %>
</div>
