<h1>Edit Ocean</h1>
  <form action="<%= ocean_update_path(@ocean.id) %>" method="post">
    <label>Name: </label>
    <input type="text" name="name" value="<%= @ocean.name %>" required>
    <label>Image: </label>
    <input type="text" name="image" value="<%= @ocean.image %>">
    <label>Surface: </label>
    <input type="float" name="surface" value="<%= @ocean.surface %>">
    <label>Depth: </label>
    <input type="float" name="depth" value="<%= @ocean.depth %>">
    <label>Volume: </label>
    <input type="float" name="volume" value="<%= @ocean.volume %>">
    <button>Edit Ocean</button>
  </form>
