<h1><%= @album['title'] %></h1>
<h2>Release Year: <%= @album['release_year'] %></h2>

<% unless @album['image_url'].nil? %>
  <img class="feature" src="<%= @album['image_url'] %>" />
<% end %>

<div class="controls">
  <a href="/albums/<%= @album['id'] %>/edit">Edit</a>
  <a href="/albums/<%= @album['id'] %>/delete">Delete</a>
</div
